.botao{
    width: 200px;
    height: 30px;
    background-color:#c11333;
    color:white ;
    border-radius: 6px;
    transition:background-color 0.3s ease, transform 0.3s ease ;

}

.botao:hover{
    background-color: #c11333; 
    transform: scale(1.05); 
}