.Listagem {
    min-height: calc(100vh - (75px + 40px));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.linha_titu {
    max-width: 120px;
   width: 100%;
   border-style: solid;
   border-width: 1px;
   border-color: #691827;
   margin-top: 5px;
   margin-bottom: 20px;
}

.tabela_listagem {
    width: 57%;
    margin-top: 30px;
}

.tabela_listagem table{
    width: 100%;
    border-collapse: collapse;

}
.tabela_listagem .cabecalho_listagem :first-child{
    width: 200px;

}


.tabela_listagem .cabecalho_listagem :nth-child(2){
    width: 500px;
}

.tabela_listagem th{
    width: 100px;   
}


.separa td {

    padding: 20px 20px 10px 7px ;
}
.espaco td{
    padding: 50px 20px 10px 7px ;
}

.item_listagem{
    text-align: center;
    border-bottom:  solid 1px #73061B20;

}


.listagem h1{
    color: black;
    font-size: smaller;
}

.cabecalho_listagem th{
    color: black;
    font-size: small;
    padding-bottom: 5px;

}

.cabecalho_listagem{
    border-bottom: #691827 1px solid;
    margin-bottom: 30px;
    
}

.item_listagem {
    border-bottom: black 1px solid;
    
}

.seletor select{
    min-width: 150px;
    margin-bottom: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}



