* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

<<<<<<< HEAD
.layout_grid{
=======
.layout_grid {
>>>>>>> 189ea103588e05e60eb21d3423a83bbc1f17ab82
  width: 100%;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}